// app global css in SCSS form
.text-grand-hotel {
  font-family: "Grand Hotel", "Roboto", sans-serif, cursive;
}

.mobile-screen {
  display: block;
  @media (min-width: $breakpoint-xs-max) {
    display: none;
  }
}

.desktop-screen {
  display: none;
  @media (min-width: $breakpoint-xs-max) {
    display: flex;
  }
}

.constrain {
  max-width: 975px;
  margin: 0 auto;
}

.constrain-more {
  max-width: 600px;
  margin: 0 auto;
}
